<div class="jumbotron text-center">

    <h1>About Us</h1>

    <h2>What is Horse Racing Analysis?</h2>
    Horse Racing Analysis was created as part of a Final Year Project From a student
    studying Software System Development. The Developer decided on this project as they
    have an interest in statistics and analysis. Horse Racing Analysis uses statistics on the horse,
    jockey and trainer on each race which is then analysed to create a score for each horse
    which indicates how likely they are to win a certain race.

</div>