<div class="jumbotron text-center">

    <h1>Contact</h1>

    <div class="row">

    <p>Horse Racing Analysis are happy to answer any queries,
    questions or issues you may have with the site.</p>

        <p>Email: mich.white@hotmail</p>
        <p>Phone: 0894574204</p>

        <form action="mailto:mich.white@homtail.com" method="GET">

            Subject:<br>
        <input style="width: 30%;" name="subject" type="text" /><br>
            <br>
            Query or Question Please Give as much detail as possible:<br>

            <textarea style="width: 30%;" name="body"></textarea><br>
        <input type="submit" value="Send" /><br>
        </form>

    </div>
</div>