<div class="jumbotron text-center" style="padding-left:15%; padding-right:15%">

    <h1>Disclaimer</h1>
<p>The information contained in this website is for general information purposes only.
    The information is from a demo database and is not live data meaning
    that the infromation on the site is from previous races that already took place.
    We make no representations or warranties of any kind, express or implied,
    about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.
</p><p>
    In no event will we be liable for any loss or damage including without limitation,
    indirect or consequential loss or damage, or any loss or damage whatsoever arising
    from loss of data or profits arising out of, or in connection with, the use of this
        website.</p>

</div>