<div class="jumbotron text-center">

	<h1>{{ message }}</h1>


		<div class="row">


				<h2>Welcome to Horse Racing Analysis</h2>
				<p>This site uses statistics and analysis to find out which horse is most likely to win an upcoming race.</p>
			<p>Head to the <a href ="#/events">Todays Races Pages </a> to view Upcoming Races.</p>


		</div>

</div>