<div class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-4">

<table style="text-align: center">
	<tr>
		<td>
			<p>
				<i>Welcome to PIZZA PLACE</i></p>
				<p>Check out the specials to save money.</p>
			<p>Freshly made Pizzas from Stone ovens.</p>
			<p>Head to the <a href ="#menu">Menu</a> to view are delicious pizzas, deserts and specials.</p>
		</td>
	</tr>
</table>  

</div></div>
</div>