<div class="jumbotron text-center">
    <h1> MENU </h1>
    <h3>{{message}}</h3>

    <div ng-controller="pizzasController as list">
        <div class="row">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <nav class="navbar navbar-default navbar-fixed-side">
                    <p><a href="#specials"> Specials </a></p>
                    <p><a href="#menu"> Pizzas </a></p>
                    <p><a href="#sides"> Sides </a></p>
                    <p><a href="#deserts"> Deserts </a></p>
                    <p><a href="#drinks">Drinks </a></p>


                </nav>
            </div>


                    <div class="col-sm-6 col-md-3" ng-repeat="pizza in pizzas">
                    <div class="items">

                       <div class="thumbnail">
                <img style="height:150px; weight:150px;" src="./images/pizza.jpg"
                     alt="..." class="img-responsive">
                <div class="caption">
                    <span></span><h3>{{pizza.name}}</h3></span>
                    <span><h5>{{pizza.description}}</h5></span>
                    <p><a href="#" class="btn btn-success" role="button">Add to Cart</a></p>
                </div>
        </div>
</div>
        </div>

                <!--<span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>-->


                <!--<button type="button" class="btn btn-default" ng-click="delete(pizza._id)">-->
                    <!--<span class="glyphicon glyphicon-remove"></span> Remove-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-default" ng-click="update(pizza)">-->
                    <!--<span class="glyphicon glyphicon-edit"></span> Edit-->
                <!--</button>-->
                <!--</span>-->
            <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    </div>
</div>
</div>
</div>
</div>
